{% extends 'base.html' %}

{% block title %} Animes más vistos {% endblock %}

{% block content %}
    <h2>Top 3 Animes más vistos</h2>
    <ul>
        {% for anime in top_animes %}
            <li>
                <strong>Título:</strong> {{ anime.titulo }}<br>
                <strong>Géneros:</strong> {{ anime.generos }}<br>
                <strong>Formato:</strong> {{ anime.formato }}<br>
                <strong>Episodios:</strong> {{ anime.episodios }}<br>
                <strong>Puntuaciones:</strong> {{ anime.num_puntuaciones }}<br>

                <strong>Animes Recomendados:</strong>
                <ul>
                    {% for recommended_anime in recommended_animes %}
                        <li>
                            <strong>Título:</strong> {{ recommended_anime.titulo }}<br>
                            <strong>Géneros:</strong> {{ recommended_anime.generos }}<br>
                            <strong>Formato:</strong> {{ recommended_anime.formato }}<br>
                            <strong>Episodios:</strong> {{ recommended_anime.episodios }}<br>
                            <strong>Puntuaciones:</strong> {{ recommended_anime.num_puntuaciones }}<br>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}