{% extends 'base.html' %}

{% block title %} Animes por formato {% endblock %}

{% block content %}
    <form method="post" action=''>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
    {% if animes %}
        <h3>Resultados de la búsqueda:</h3>
        <ul>
            {% for anime in animes %}
                <li>{{ anime.titulo }} - {{ anime.generos.all }} - {{ anime.episodios }} episodios</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
